header {
    color: rgb(97, 97, 97);
    border-radius: 4px;
    box-shadow: none;
    position: fixed;
    padding-left: 24px;
    padding-right: 24px;
    top: 0px;
    height: 60px;
    width: 97.5%;
    z-index: 5;
    background-color: white;
    left: 0;
    transition: box-shadow 0.3s;
}
 .db-icon{
    height: 100%;
 }